@import './variables.scss';
@import './iconfont.css';

html[theme='mourn'] {
  #app::before {
    content: '';
    position: absolute;
    backdrop-filter: grayscale(100%);
    width: 100%;
    height: calc(100vh - 50px);
  }
}
